start-at-login = true

after-login-command = []
after-startup-command = ['exec-and-forget borders', 'exec-and-forget sketchybar']

exec-on-workspace-change = ['/bin/bash', '-c',
    'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE'
]

enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

accordion-padding = 16
default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'
key-mapping.preset = 'qwerty'

[gaps]
inner.horizontal = 10
inner.vertical = 10
outer.left = 8
outer.bottom = 8
outer.top = 8
outer.right = 8

[exec]
inherit-env-vars = true

[exec.env-vars]
PATH = '/opt/homebrew/bin:/opt/homebrew/sbin:${PATH}'

[mode.main.binding]
# Open up terminal with alt + enter
# alt-enter = 'exec-and-forget open -n /Applications/Ghostty.app'
alt-shift-z = 'mode zen'

# https://nikitabobko.github.io/AeroSpace/commands#layout
alt-s = 'layout tiles accordion'
alt-i = 'layout horizontal vertical'

ctrl-alt-h = 'join-with left'
ctrl-alt-j = 'join-with down'
ctrl-alt-k = 'join-with up'
ctrl-alt-l = 'join-with right'

alt-f = 'layout floating tiling'
alt-shift-f = """exec-and-forget aerospace layout floating && sleep 0.2 && open -g 'raycast://extensions/raycast/window-management/reasonable-size' || aerospace layout tiling"""
alt-z = 'fullscreen'

# https://nikitabobko.github.io/AeroSpace/commands#focus
alt-h = 'focus left'
alt-j = 'focus down'
alt-k = 'focus up'
alt-l = 'focus right'

# https://nikitabobko.github.io/AeroSpace/commands#move
alt-shift-h = 'move left'
alt-shift-j = 'move down'
alt-shift-k = 'move up'
alt-shift-l = 'move right'

# https://nikitabobko.github.io/AeroSpace/commands#resize
alt-comma = 'resize smart -50'
alt-period = 'resize smart +50'

# https://nikitabobko.github.io/AeroSpace/commands#workspace
alt-1 = 'workspace 1'
alt-2 = 'workspace 2'
alt-3 = 'workspace 3'
alt-8 = 'workspace 8'
alt-9 = 'workspace 9'
alt-0 = 'workspace 0'

# See: https://nikitabobko.github.io/AeroSpace/commands#move-node-to-workspace
alt-shift-1 = 'move-node-to-workspace 1 --focus-follows-window'
alt-shift-2 = 'move-node-to-workspace 2 --focus-follows-window'
alt-shift-3 = 'move-node-to-workspace 3 --focus-follows-window'
alt-shift-8 = 'move-node-to-workspace 8 --focus-follows-window'
alt-shift-9 = 'move-node-to-workspace 9 --focus-follows-window'
alt-shift-0 = 'move-node-to-workspace 0 --focus-follows-window'

# https://nikitabobko.github.io/AeroSpace/commands#workspace-back-and-forth
alt-n = 'workspace next'
alt-p = 'workspace prev'

# https://nikitabobko.github.io/AeroSpace/commands#move-workspace-to-monitor
alt-shift-n = 'move-workspace-to-monitor --wrap-around next'
alt-shift-p = 'move-workspace-to-monitor --wrap-around prev'

# https://nikitabobko.github.io/AeroSpace/commands#mode
alt-shift-semicolon = 'mode service'

# https://nikitabobko.github.io/AeroSpace/guide#binding-modes
[mode.service.binding]
r = ['reload-config', 'mode main']

# Reset layout
esc = ['flatten-workspace-tree', 'mode main']
backspace = ['close-all-windows-but-current', 'mode main']

# app specific settings
[[on-window-detected]]
if.app-id = 'com.electron.brain.fm'
run = 'layout floating'

[[on-window-detected]]
if.window-title-regex-substring = 'Picture-in-Picture'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.tinyspeck.slackmacgap'
run = 'move-node-to-workspace 1 --focus-follows-window'

[[on-window-detected]]
if.app-id = 'com.google.Chrome'
run = 'move-node-to-workspace 1 --focus-follows-window'

[[on-window-detected]]
if.app-id = 'com.mitchellh.ghostty'
run = 'move-node-to-workspace 2 --focus-follows-window'

[[on-window-detected]]
if.app-id = 'com.linear'
run = 'move-node-to-workspace 3 --focus-follows-window'

[[on-window-detected]]
if.app-id = 'notion.id'
run = 'move-node-to-workspace 3 --focus-follows-window'

[[on-window-detected]]
if.app-id = 'com.cron.electron'
run = 'move-node-to-workspace 3 --focus-follows-window'

[[on-window-detected]]
if.app-id = 'notion.mail.id'
run = 'move-node-to-workspace 3 --focus-follows-window'

[[on-window-detected]]
if.app-id = 'com.apple.Music'
run = 'move-node-to-workspace 8 --focus-follows-window'

[[on-window-detected]]
if.app-id = 'com.spotify.client'
run = 'move-node-to-workspace 8 --focus-follows-window'

[mode.zen.binding]
alt-shift-z = 'mode main'
