[user]
	name = Jonathan Foster
	email = jxf9099@rit.edu
[includeIf "gitdir:~/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/Source/Work"]
  path = .gitconfig-work
[color]
	ui = true
[core]
	editor = nvim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
