[alias]
    blame = blame -C -C -C
    diff = diff --word-diff
    lol = log --oneline --decorate
    graph = log --oneline --graph --decorate

[core]
    excludesfile = /Users/fostertheweb/.gitignore
    pager = delta
	editor = nvim

[delta]
    # use n and N to move between diff sections
    navigate = true 
    light = false

[diff]
    colorMoved = default

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[grep]
    lineNumber = true
    patternType = perl

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3
    tool = nvim

[mergetool]
    prompt = false

[mergetool "nvim"]
    cmd = nvim -f -c "DiffviewOpen"

[rerere]
    enabled = true

[user]
    name = Jonathan Foster
    email = fostertheweb@gmail.com

