[includeIf "gitdir:~/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/Source/Work"]
  path = .gitconfig-work
[color]
	ui = true
[core]
	editor = nvim
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
