[submodule "vim/.vim/bundle/pathogen"]
	path = vim/.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "nvm/.nvm"]
	path = nvm/.nvm
	url = https://github.com/creationix/nvm.git
