*.swp
.DS_Store

Brewfile.lock.json
ghostty/.config/ghostty/config

broot/.config/broot/launcher
broot/.config/broot/skins

karabiner/.config/karabiner/automatic_backups/

pi/.pi/agent/auth.json
pi/.pi/agent/sessions/

.ruby-lsp

debug.log

emacs/.config/emacs/auto-save-list/
emacs/.config/emacs/eln-cache/
emacs/.config/emacs/elpa/
emacs/.config/emacs/*.elc
emacs/.config/emacs/custom.el
emacs/.config/emacs/history
emacs/.config/emacs/projects.eld
emacs/.config/emacs/tramp
emacs/.config/emacs/transient/
emacs/.config/emacs/tree-sitter
emacs/.config/emacs/*.bak
emacs/.config/emacs/*~
emacs/.config/emacs/#*#
emacs/.config/emacs/.#*
emacs/.config/emacs/.cache/
emacs/.config/emacs/.lsp-session-*
emacs/.config/emacs/recentf.eld

**/#*#
