layout {
    tab name="code" split_direction="horizontal" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane size="80%" command="nvim" args="."
        pane size="20%"
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="run" split_direction="horizontal" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane size="50%"
        pane size="50%"
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="help" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="ollama" {
            args "run" "codeqwen"
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
