layout {
    tab name="files" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="yazi"
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="git" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="gitu"
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="code" split_direction="horizontal" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane size="80%" command="nvim" args="."
        pane size="20%"
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="help" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="ollama" {
            args "run" "magicoder"
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
