configuration {
  width: 40;
  lines: 8;
  columns: 1;
  font: "Ilisarniq 20";
  location: 1;
  padding: 10;
  yoffset: 56;
  show-icons: true;
  drun-icon-theme: "Suru";
  line-margin: 10;
  line-padding: 10;
  separator-style: "none";
  hide-scrollbar: true;
  theme: "ribbon";
  display-window: "Window";
  display-drun: "Run";
}
