{
  "$schema": "https://opencode.ai/config.json",
  "model": "{{DEFAULT_MODEL}}",
  "autoupdate": false,
  "mcp": {
    "context7": {
      "type": "local",
      "command": [
        "opencode",
        "x",
        "@upstash/context7-mcp"
      ],
      "enabled": true
    }
  },
  "plugin": [
    "opencode-gemini-auth@latest"
  ]
}
