keybinds clear-defaults=true {
    normal {
        bind "Ctrl s" { SwitchToMode "tmux"; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt ." "Alt >" { Resize "Increase"; }
        bind "Alt ," "Alt <" { Resize "Decrease"; }
    }

    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "Normal"; }
    }

    renamepane {
        bind "Esc" { UndoRenamePane; SwitchToMode "Normal"; }
    }

    shared_among "renametab" "renamepane" {
        bind "Enter" { SwitchToMode "Normal"; }
    }

    tmux {
        bind "1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "3" { GoToTab 3; SwitchToMode "Normal"; }
        bind "4" { GoToTab 4; SwitchToMode "Normal"; }
        bind "5" { GoToTab 5; SwitchToMode "Normal"; }
        bind "6" { GoToTab 6; SwitchToMode "Normal"; }
        bind "7" { GoToTab 7; SwitchToMode "Normal"; }
        bind "8" { GoToTab 8; SwitchToMode "Normal"; }
        bind "9" { GoToTab 9; SwitchToMode "Normal"; }
        bind "n" { GoToNextTab; SwitchToMode "Normal"; }
        bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "l" { ToggleTab; SwitchToMode "Normal"; }
        bind "c" { NewTab; SwitchToMode "Normal"; }
        bind ";" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "'" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "o" { FocusNextPane; }
        bind "," { SwitchToMode "renametab"; }
        bind "r" { SwitchToMode "renamepane"; }
        bind "f" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "Esc" { SwitchToMode "Normal"; }
        bind "d" { Detach; }

        bind "t" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
            }
            SwitchToMode "Normal";
        }

        bind "u" {
            LaunchOrFocusPlugin "zellij:plugin-manager" {
                floating true
            }
            SwitchToMode "Normal";
        }

        bind "s" {
            LaunchOrFocusPlugin "zellij:strider" {
                floating true
            }
            SwitchToMode "Normal";
        }

        
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/Users/jonathan/Developer/Source"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen false
    }
}

// Plugins to load in the background when a new session starts
// eg. "file:/path/to/my-plugin.wasm"
// eg. "https://example.com/my-plugin.wasm"
load_plugins {
}

default_layout "simple"
simplified_ui true
theme "ansi"
pane_frames true
on_force_close "detach"
support_kitty_keyboard_protocol true
